.tb-footer{
	display: block;
	margin: 0;
	padding: 0.5rem;
	text-align: right;

	> li{
		display: inline-block;

		margin-left: 1rem;
	}
}

a.tb-footer__btn {
	cursor: pointer;

	font-size: 6em;

	padding: 0.3rem;
	color: inherit;
	text-decoration: none;

	> i.active {
		display: none;
	}

	&:hover {
		> i.active { display: inline; }
		> i.default { display: none; }	
	}
}