.tb-header{
	font-family: 'Arial';
	font-weight: 700;

	padding: 0.25rem;

	position: relative;

	.tb_header__name{
		white-space: nowrap;
		display: block;
		font-size: 2em;
		left: 0;
		top: 0;
	}
}

@media only screen 
  and (orientation: portrait) {

  	.tb-header{
  		padding: 1em 0.25em;
  	}
}

@media only screen 
  and (min-width: 768px) {

  	.tb-header{
  		font-size: 1rem;
  	}
}

@media only screen 
  and (min-width: 1024px) {

  	.tb-header{
  		font-size: 1.5rem;
  	}
}