@import 'mixins';

.tb-header{
	font-family: 'Open Sans', sans-serif;

	padding: 1em;

	position: relative;

	.tb_header__name{
		font-size: 4em;
		left: 0;
		top: 0;



		&.large{
			position: absolute;
			left: 50%;
			top: 50vh;
			@include vendor-prefix('transform', 'translate(-50%,-50%)');

			font-size: 10em;
		}
		
	}
}