@import 'mixins';

section{
	padding: 0 2rem;
}

html{
	height  : 100%;
    overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height : 100%;
    overflow: auto;
	max-height: 100%;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url('../img/DSC_0233.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;

	[ng-view]{
		border-width: 1px 0;
		border-style: solid;
		border-color: rgba(255,255,255,0.2);
		flex: 2;
		flex-direction: column;
		overflow: auto;
	}

	> section[ng-include]{
		color: white;
	}

	.tb-header, .tb-footer{
		flex: 1 100%;
	}
}

@media only screen 
  and (orientation: portrait) {

  	section{
		padding: 0 0.5rem;
	}
}